cachetools
lmdb
msgpack
numpy
psutil
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-json-logger
qdrant-client
requests
spacy
tenacity
torch
transformers
typer
rich
prometheus-client
fastapi
uvicorn
zmq
sentence-transformers
